.git
.gitignore
.DS_Store
node_modules
npm-debug.log
.vscode
.idea
*.swp
*.swo
*~
.env
.env.local
.env.*.local
builds/
tests/
.phpunit.result.cache
writable/cache/*
writable/logs/*
writable/session/*
writable/uploads/*
README.md
docs/
